.firebase-sidebar-aside {
    .main-content {
        ul {
            br {
                display: none;
            }

            list-style: disc;
            margin-left: 2rem;
            margin-bottom: 2.3rem;

            li {
                margin-bottom: 1rem;
            }
        }

        ol {
            br {
                display: none;
            }

            list-style: decimal;
            margin-left: 2rem;
            margin-bottom: 1.3rem;

            li {
                margin-bottom: 1rem;
            }
        }
    }

    .sidebar {
        .menu {
            li {
                cursor: pointer;
                padding: .7rem .5rem;
                font-weight: 600;
                border-bottom: .5px solid;
                @extend .tr-smooth !optional;
                &:hover {
                    @apply text-secondary;
                    @extend .tr-smooth !optional
                }
            }
        }

        .fluentform {
            .fluentform .ff-el-form-control {
                @apply bg-white text-gray rounded-3xl;
            }

            .ff_submit_btn_wrapper {
                margin-bottom: 0 !important;
                margin-top: 1rem !important;

                .btn {
                    @extend .btn-ghost_light !optional;
                    @apply font-medium hover:text-white;
                    width: 100%;
                }
            }
        }
    }
}