{#
  Title: HTML
  Description: Custom HTML section.
  Category: formatting
  Icon: html
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="firebase-html section-spacing {{ block.className }}">
  <div class="container mx-auto text-center">
    {{fields.code}}
  </div>
</section>
