{% extends "base.twig" %}

{% block content %}
<section class="firebase-main-banner section-spacing h-800 h-full w-full flex flex-col px-10" {# Background settings #}
	style="background-image: url('{{ site.theme.link }}/images/404.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
	{# Overlay #}
	<div class="overlay" style="background-color: #000; opacity:.4; background-blend-mode: multiply;">
	</div>
	<div
		class="firebase-banner-content section-spacing container mx-auto w-full md:w-9/12 lg:w-7/12 xl:w-7/12 h-full flex flex-col justify-center px-1 text-white mt-auto text-left">
		{# Main title #}
		<h1 class="lg:w-10/12 text-6xl font-header font-normal mb-6">
			Woops... there is an error!</h1>
		{# Subtitle #}
		<h3 class="text-xl leading-relaxed font-normal mb-8">Sorry, we couldn't find the page that you're looking
			for.</br>Please check url adress or use button to go to the home page!</h3>
		{# Button wrap #}
		<div class="flex flex-col">
			<a href="{{site.link}}" class="btn btn-ghost_light font-normal mb-6">
				<div class="flex flex-row items-center">
					Home page
				</div>
			</a>
		</div>
	</div>
</section>
{% endblock %}