{% include 'html-header.twig' %}

<body class="{{body_class}} w-full">
    <!-- skip to content link for accessibility -->
    <a class="sr-only" href="/#main">skip to content link</a>
    <header>
    {% block header %}
    {% include 'partial/topbar.twig' %}
    {% include 'partial/header.twig' %}
    {% endblock %}
    </header>
    {# HERE ENDS HEADER #}
    <main id="main" class="body-wrapper fade-out">
        {# HERE GOES THE MAIN CONTENT #}
        {% block content %}
        {% endblock %}
        {# HERE ENDS THE MAIN CONTENT #}
        {% block footer %}
        {% include 'partial/footer.twig' %}
        {% endblock %}
        {# HERE ENDS FOOTER #}
        {% block scripts %}
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
        {{ function('wp_footer') }}
        {% endblock %}
    </main>
</body>
</html>
