/* Version: 1.3.2 - Generated 2022-05-10 13:54:22 */
:root {
  --primary: #03a4eb;
  --primary-hover: #16b6fc;
  --primary-ultra-light: #e6f7ff;
  --primary-light: #b3e7fe;
  --primary-medium: #03b0fc;
  --primary-dark: #02587e;
  --primary-ultra-dark: #012332;
  --primary-comp: #eb4a03;
  --secondary: #0b3282;
  --secondary-hover: #0d3a95;
  --secondary-ultra-light: #e7effd;
  --secondary-light: #b8cef9;
  --secondary-medium: #145aeb;
  --secondary-dark: #0a2d76;
  --secondary-ultra-dark: #04122f;
  --secondary-comp: #825b0b;
  --accent: #eaac8b;
  --accent-hover: #f3ceba;
  --accent-ultra-light: #fbf0e9;
  --accent-light: #f3d1be;
  --accent-medium: #d86527;
  --accent-dark: #6c3214;
  --accent-ultra-dark: #2b1408;
  --accent-comp: #8bc9ea;
  --base: #00153e;
  --base-hover: #001847;
  --base-ultra-light: #e6eeff;
  --base-light: #b3ccff;
  --base-medium: #0056ff;
  --base-dark: #002b80;
  --base-ultra-dark: #013;
  --base-comp: #3e2900;
  --white: #fff;
  --black: #000;
  --shade: black;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-medium: gray;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --primary-trans-10: rgba(3, 164, 235, 0.1);
  --primary-trans-20: rgba(3, 164, 235, 0.2);
  --primary-trans-40: rgba(3, 164, 235, 0.4);
  --primary-trans-60: rgba(3, 164, 235, 0.6);
  --primary-trans-80: rgba(3, 164, 235, 0.8);
  --primary-trans-90: rgba(3, 164, 235, 0.9);
  --primary-ultra-dark-trans-10: rgba(1, 35, 50, 0.1);
  --primary-ultra-dark-trans-20: rgba(1, 35, 50, 0.2);
  --primary-ultra-dark-trans-40: rgba(1, 35, 50, 0.4);
  --primary-ultra-dark-trans-60: rgba(1, 35, 50, 0.6);
  --primary-ultra-dark-trans-80: rgba(1, 35, 50, 0.8);
  --primary-ultra-dark-trans-90: rgba(1, 35, 50, 0.9);
  --primary-light-trans-10: rgba(179, 231, 254, 0.1);
  --primary-light-trans-20: rgba(179, 231, 254, 0.2);
  --primary-light-trans-40: rgba(179, 231, 254, 0.4);
  --primary-light-trans-60: rgba(179, 231, 254, 0.6);
  --primary-light-trans-80: rgba(179, 231, 254, 0.8);
  --primary-light-trans-90: rgba(179, 231, 254, 0.9);
  --secondary-trans-10: rgba(11, 50, 130, 0.1);
  --secondary-trans-20: rgba(11, 50, 130, 0.2);
  --secondary-trans-40: rgba(11, 50, 130, 0.4);
  --secondary-trans-60: rgba(11, 50, 130, 0.6);
  --secondary-trans-80: rgba(11, 50, 130, 0.8);
  --secondary-trans-90: rgba(11, 50, 130, 0.9);
  --secondary-ultra-dark-trans-10: rgba(4, 18, 47, 0.1);
  --secondary-ultra-dark-trans-20: rgba(4, 18, 47, 0.2);
  --secondary-ultra-dark-trans-40: rgba(4, 18, 47, 0.4);
  --secondary-ultra-dark-trans-60: rgba(4, 18, 47, 0.6);
  --secondary-ultra-dark-trans-80: rgba(4, 18, 47, 0.8);
  --secondary-ultra-dark-trans-90: rgba(4, 18, 47, 0.9);
  --secondary-light-trans-10: rgba(184, 206, 249, 0.1);
  --secondary-light-trans-20: rgba(184, 206, 249, 0.2);
  --secondary-light-trans-40: rgba(184, 206, 249, 0.4);
  --secondary-light-trans-60: rgba(184, 206, 249, 0.6);
  --secondary-light-trans-80: rgba(184, 206, 249, 0.8);
  --secondary-light-trans-90: rgba(184, 206, 249, 0.9);
  --accent-trans-10: rgba(234, 172, 139, 0.1);
  --accent-trans-20: rgba(234, 172, 139, 0.2);
  --accent-trans-40: rgba(234, 172, 139, 0.4);
  --accent-trans-60: rgba(234, 172, 139, 0.6);
  --accent-trans-80: rgba(234, 172, 139, 0.8);
  --accent-trans-90: rgba(234, 172, 139, 0.9);
  --accent-ultra-dark-trans-10: rgba(43, 20, 8, 0.1);
  --accent-ultra-dark-trans-20: rgba(43, 20, 8, 0.2);
  --accent-ultra-dark-trans-40: rgba(43, 20, 8, 0.4);
  --accent-ultra-dark-trans-60: rgba(43, 20, 8, 0.6);
  --accent-ultra-dark-trans-80: rgba(43, 20, 8, 0.8);
  --accent-ultra-dark-trans-90: rgba(43, 20, 8, 0.9);
  --accent-light-trans-10: rgba(243, 209, 190, 0.1);
  --accent-light-trans-20: rgba(243, 209, 190, 0.2);
  --accent-light-trans-40: rgba(243, 209, 190, 0.4);
  --accent-light-trans-60: rgba(243, 209, 190, 0.6);
  --accent-light-trans-80: rgba(243, 209, 190, 0.8);
  --accent-light-trans-90: rgba(243, 209, 190, 0.9);
  --base-trans-10: rgba(0, 21, 62, 0.1);
  --base-trans-20: rgba(0, 21, 62, 0.2);
  --base-trans-40: rgba(0, 21, 62, 0.4);
  --base-trans-60: rgba(0, 21, 62, 0.6);
  --base-trans-80: rgba(0, 21, 62, 0.8);
  --base-trans-90: rgba(0, 21, 62, 0.9);
  --base-ultra-dark-trans-10: rgba(0, 17, 51, 0.1);
  --base-ultra-dark-trans-20: rgba(0, 17, 51, 0.2);
  --base-ultra-dark-trans-40: rgba(0, 17, 51, 0.4);
  --base-ultra-dark-trans-60: rgba(0, 17, 51, 0.6);
  --base-ultra-dark-trans-80: rgba(0, 17, 51, 0.8);
  --base-ultra-dark-trans-90: rgba(0, 17, 51, 0.9);
  --base-light-trans-10: rgba(179, 204, 255, 0.1);
  --base-light-trans-20: rgba(179, 204, 255, 0.2);
  --base-light-trans-40: rgba(179, 204, 255, 0.4);
  --base-light-trans-60: rgba(179, 204, 255, 0.6);
  --base-light-trans-80: rgba(179, 204, 255, 0.8);
  --base-light-trans-90: rgba(179, 204, 255, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --text-xs: 1.3rem;
  --text-s: 1.4rem;
  --text-m: 1.6rem;
  --text-l: 2rem;
  --text-xl: 2.3rem;
  --text-xxl: 2.6rem;
  --space-xs: 1.9rem;
  --space-s: 2.1rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3rem;
  --space-xxl: 3.4rem;
  --section-space-xs: 3rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.4rem;
  --section-space-xxl: 11.7rem;
  --width-xs: calc((128 * 0.1) * 1rem);
  --width-s: calc((128 * 0.2) * 1rem);
  --width-m: calc((128 * 0.4) * 1rem);
  --width-l: calc((128 * 0.6) * 1rem);
  --width-xl: calc((128 * 0.8) * 1rem);
  --width-xxl: calc((128 * 0.9) * 1rem);
  --width-vp-max: calc((128 - 3 * 2) * 1rem);
  --width-50: calc((128 / 2) * 1rem);
  --width-full: 100%;
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --section-padding-x: 3rem;
  --btn-border-size: 0.25rem;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-y: 1rem;
  --btn-pad-x: 2rem;
  --btn-radius: 0;
  --primary-h: 198.3620689655;
  --primary-s: 97.4789915966%;
  --primary-l: 46.6666666667%;
  --secondary-h: 220.3361344538;
  --secondary-s: 84.3971631206%;
  --secondary-l: 27.6470588235%;
  --accent-h: 20.8421052632;
  --accent-s: 69.3430656934%;
  --accent-l: 73.137254902%;
  --base-h: 219.6774193548;
  --base-s: 100%;
  --base-l: 12.1568627451%;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
}
