p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

b {
    @apply text-primary;
}
.wrap-html-sitemap {
    h2.sp-cpt-name {
        @apply text-3xl uppercase font-header text-left mb-6;
    }
    h3.sp-cpt-name {
        @apply text-2xl font-body text-left mb-8;
    }
    .sp-cat-name {
        @apply text-xl font-header text-left mb-2;
    }
}
.firebase-simplecontent {
    ul {
        @apply w-full md:w-10/12 lg:w-10/12 xl:w-10/12 mx-auto text-center font-body px-10;
        list-style: disc;
        list-style-position: inside !important;
        margin-bottom: 2.3rem;
        br {
            display: none;
        }
        li {
            margin-bottom: 1rem;
        }
    }

    ol {
        br {
            display: none;
        }

        list-style: decimal;
        list-style-position: inside !important;
        margin-left: 2rem;
        font-weight: 600;
        margin-bottom: 1.3rem;

        li {
            margin-bottom: 1rem;
            ol {
                margin-top: 1rem;
                font-weight: 400;
                list-style: lower-alpha;
            }
        }
    }
    a {    
        @apply hover:text-primary;
        display: inline-block;
    }
}